
/* @import url(utlities.css); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

.navbar{
    background: var(--navbar);
    height: 43px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.leftnav p{
    color: var(--white);
    font-size: 2em;
    user-select: none;
    font-weight: 900;
}
.leftnav p span {
    font-size: 0.75em;
}
.rightnav ul li a{
    color: var(--white);
    text-decoration: none;
}
.rightnav ul li a:hover{
    color: var(--offwhite);
    transition: all .2s ease-in;
}
.navList{
    display: flex;flex-direction: row;justify-content: center;align-items: center;
}
.navItem{
    margin-left: 1em;
    margin-top: 0.75em;
    font-size: 0.9em;
}
.dense{
    font-weight: 900;
    font-size: 11em;
    display: flex;
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.densePara1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;

}
.densePara2{
 display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 2em;
}
.secSection{
    display: flex;
    flex-direction: row;
    margin-top: 15em;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
    /* background: #FDFDFD; */
}
/* .leftSecSection{
    padding-left: 15em;
    /* width: 10em; */
.secSectionLeft1 {
    font-size: 3.9em;
    font-weight: 500;
}
.rightSecSection{
    font-weight: 900;
    font-size: 2.2em;
    color: var(--offwhite)
}
.secSectionLeft2{
    font-size: 1.2em;
    padding-bottom: 2em;
}
.thirdSection{
    padding: 5em;
}
.thirdSectionText{
    padding-left: 1em;
}
.parent {
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.unit{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-weight: 900;
    align-items: center;
    padding-left: 1em;
}
.unitRight{
    padding-left: 1em;
}
.unitLeft{
    
    color: var(--offwhite);
    font-size: 3.5em;

}
.unitRight1{
    font-size: 0.7em;
    padding-bottom: 0.9em;
}
.unitRight1 p span{
    color: var(--offwhite);
}
.unitRight3{
    font-size: 0.7em;
    font-size: 100;
    color: var(--offwhite);
    padding-top: 0.9em;
}
.fourthSection{
    background: var(--dark);
    color: var(--white);
    padding-top: 10em;
    padding-left: 10em;
    padding-right: 10em; 
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.firstFourthSection p{
    font-size: 5em;
    font-weight: 400;
    line-height: 0.9em;
    text-align: center;
}
.secFourthSection p{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 19em;
    padding-right: 19em;
    font-size: 1em;
    /* width: 50%; */
    display: flex;
    justify-content: center;
}
.css-button-retro--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid var(--white);
    color: var(--white);
    background: transparent;
    z-index: 0;
  }
  .css-button-retro--blue:hover:after {
    top: 0;
    left: 0;
  }
  .css-button-retro--blue:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #ff00ff;
  }
.thirdFourthSection{
    padding-bottom: 2em;
}
.secSectionLeft1 span{
    color: #1a98a2; background-image: -webkit-radial-gradient(circle, #1a98a2 0%, #8c26df 40%, #493699 67%, #312eff 91%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
.fifthSection{
    display: flex;
    flex-direction: row;
    padding-top: 5em;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3em;
}
.leftFive{
    font-size: 6em;
    font-weight: 500;
    /* padding-left: 2em; */
    line-height: 0.9em;
    border-right: 2px solid var(--dark);
    
    width: 50%;
}
.rightFive{
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}
.rightFive1{
    padding-bottom: 1em;
    padding-top: 2em;
    border-bottom: 2px solid var(--dark);
}
.rightFive1 p span{
    font-size: 2em;
    font-weight: 900;
}
.rightFive2 p span{
    font-size: 2em;
    font-weight: 900;
}
.rightFive2{
    padding-top: 2em;
}
.rightFive .button{
    padding-top: 2em;
}
.css-button-retro--blue2 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid var(--dark);
    color: var(--dark);
    background: transparent;
    z-index: 0;
  }
  .css-button-retro--blue2:hover:after {
    top: 0;
    left: 0;
  }
  .css-button-retro--blue2:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #ff00ff;
  }

.footerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 2px solid var(--dark);
}
.footerLogo h1{
    font-size: 4em;
    font-weight: 900;
}
.footerList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.footerList li{
    margin-left: 1em;
}
.credits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rightSecSection p{
    user-select: none;
}
.leftnav a{
    text-decoration: none;
}
/* Responsive section code ahead*/


@media (max-width:  1024px){

}
@media (max-width:576px){
    .navbar{
        background: var(--navbar);
        height: 100px;
        width: 100%;
    }
    .leftnav p{
        font-size: 0;
    }
    .rightNav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navList{
        font-size: 1.5em;
        list-style-type: none;
        padding-top: 20px;
        padding-right: 32px;
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .dense{
        font-size: 5em;
    }
    .densePara1{
        font-size: 3.5em;
    }
    .secSection{
        margin-top: 14em;
    }
    .secSectionLeft1{
        font-size: 2.9em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .secSectionLeft2{
        font-size: 1em;
        text-align: center;
        padding-top: 1.6em;
    }
    .secSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightSecSection{
        margin-top: -7.5em;
    }
    .secSection{
        padding-bottom: 10em;
    }
    .thirdSection{
        padding: 0;
        padding-top: 4.5em;
        padding-bottom: 4.2em;
    }
    .parent {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .unitLeft{
        font-size: 2.5em;
    }
    .thirdSectionText{
        padding-left: 2em;
        font-weight: 500;
        font-size: 1.5em;
    }
    .fourthSection{
        padding-top: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
    }
    .firstFourthSection p{
        font-size: 4em;
    }
    .secFourthSection p{
        padding-left: 2em;
        padding-right: 2em;
        font-size: 1.55em;
        padding-top: 3.75em;
        padding-bottom: 2em;
    }
    .fifthSection{
        display: block;
        padding-top: 7em;
        padding-bottom: 0;
    }
    .leftFive{
        font-size: 2.9em;
        padding-left: 1em;
        padding-right: 1em;
        border-right: 0;
        /* border-bottom: 2px solid var(--dark); */
        padding-bottom: 1em;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: -1em;
        margin-right: 1em; */
    }
    .rightFive1{
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: none;
    }
    .rightFive2{
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: none;
    }
    .navbar{
        height: 50px;
        display: flex;
        justify-content:flex-end;
        /* align-items: center; */
        padding: 0;
        margin: 0;
    }
    .navList{
        font-size: 0.95em;
        margin-top: -1.6em;
        font-weight: 700;
    }
    .navList:hover{
        color: var(--offwhite);
    }
    .rightnav ul li:nth-child(1){
        display: none;
    }
    .rightnav ul li:nth-child(3){
        display: none;
    }
    .rightnav ul li:nth-child(4){
        display: none;
    }
    .rightnav ul li:nth-child(5){
        display: none;
    }
    .navbar{
        position: fixed;
    }
    .firstSection{
        padding-top: 4.75em;
    }
}


.wrapper {
    display: flex;
    /* justify-content: center; */
    /* padding: 2em; */
    padding: 1.25rem; 
    gap: 2.5rem; 
    justify-content: center;
    padding: 1em;
    margin-left: 14em;
    margin-right: 14em;

}
.content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}
.logoContainer {
    display: flex;

    padding: 1rem; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
    color: #000000; 
}
.bannerNav {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.profilePhoto {
    /* height: 2.5rem;  */
    background-color: #D1D5DB;
    width: 38px;
    height: 38px;
    background: #d7d7d7; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px; 
}
.draftName {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    padding: 2em;
    color: #a0a0a0;
}
.bannerNavDiv1 {
    margin-right: 2em;
}
.bannerNavDiv2 {
    margin-right: 1.3em;
}

.trackinginexpand {
	-webkit-animation: trackinginexpand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: trackinginexpand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    background: #000000;
    color: #fff;
    font-size: 5em;
    font-weight: 900;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 @-webkit-keyframes trackinginexpand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes trackinginexpand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
